CONDA_ROOT=/home/autovla/miniconda3
ENV_NAME=maniptrans
BASE_DIR=/data/autovla/ho_tracker_challenge
REPO_DIR=/data/autovla/ho_tracker_challenge/HO-Tracker-Baseline-Challenge
ISAACGYM_DIR=/data/autovla/ho_tracker_challenge/IsaacGym_Preview_4_Package/isaacgym/python
CUDA_VISIBLE_DEVICES=4,5
WANDB_PROJECT=ho-tracker-baseline
